PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/stellarpad
NODE_ENV=development
STELLAR_NETWORK=testnet
HORIZON_URL=https://horizon-testnet.stellar.org
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
CONTRACT_ID=CXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
CORS_ORIGIN=http://localhost:3001
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=1h
PINATA_API_KEY=
PINATA_SECRET_API_KEY=
